body, html {
  height: 100%;
}


/* Position text in the middle */
.middle {
  position: absolute;
  top: 34%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
p { 
  font-family: Pacifico; 
  font-size: 48px; 
  font-style: italic; 
  font-variant: normal; 
  font-weight: 700; 
  line-height: 52.8px; 
}

.fa-facebook-official:before {
  content: "\f230";
  color: white;
}

.fa-twitter:before {
  content: "\f099";
  color: white;
}

.fa-envelope:before {
  content: "\f0e0";
  color: white;
}

.bgimg {
  /* Background image */
  background-image: url('/images/logo2.jpg');
  /* Full-screen */
  height: 100%;
  /* Center the background image */
  background-position: center;
  /* Scale and zoom in the image */
  background-size: cover;
  /* Add position: relative to enable absolutely positioned elements inside the image (place text) */
  position: relative;
  /* Add a white text color to all elements inside the .bgimg container */
  color: white;
  /* Add a font */
  font-family: "Courier New", Courier, monospace;
  /* Set the font-size to 25 pixels */
  font-size: 25px;
}

/* Style the <hr> element */
hr {
  margin: auto;
  width: 40%;
}